* {
    margin: 0;
    padding: 0;
    color: honeydew;
}

body {
    background: url("../admin/upload/bck.jpg") no-repeat center fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
}

/* Article */

.article {
    padding: 15px 15px;
    background-color: rgba(10, 51, 53, 0.8);
}

.article .pre-info {
    border-radius: 5px;
    text-align: center;
    text-shadow: black 1px 1px;
    margin-top: 15px;
    padding: 10px 0;
}

.article .pre-info h2, time {
    font-style: italic;
    font-weight: 200;
}

.article img {
    border-radius: 50px;
    padding: 10px;
    margin-bottom: 5px;
    width: 40%;
    height: 60%;
    position: relative;
}

.article .content {
    border-radius: 5px;
    text-shadow: black 1px 1px;
    font-size: 18px;
    text-align: justify;
    margin-bottom: 10px;
    padding: 5px;
}

/* Comments */

.comments {
    padding: 10px;
    margin-top: 5px;
}