* {
    margin: 0;
    padding: 0;
}

body{
    background: url("../upload/bck.jpg") no-repeat fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
}
.content {
    background-color: rgba(10, 51, 53, 0.7);
    color: honeydew;
}

.message {
    font-weight: 700;
    text-shadow: 1px 1px black;
    position: relative;
    top: -100%;
    right: -18%;
    height: 0.01%;
    width: 82%;
}

.fct {
    text-shadow: 1px 1px black;
    position: relative;
    top: -82%;
    right: -18%;
    height: 0.01%;
    width: 82%;
}

.fct ul {
    position: relative;
    right: -2%;
    width: 82%;
}

.fct ul .tete {
    margin-bottom: 12px;
}

@media screen and (max-width: 800px) {
    .message , .fct{
        width: 64%;
        right: -36%;
    }

    .fct ul {
        right: -5%;
    }
}