* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background: url("../upload/bck.jpg") no-repeat fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
}

.bck {
    background: rgba(10, 51, 53, 0.7);
}

.contenu {
    color: honeydew;
    text-shadow: 1px 1px black;
    position: relative;
    top: -100%;
    right: -18%;
    height: 0.01%;
    width: 81%;
}

form {
    text-align: center;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
}

form input {
    width: 80%;
    margin-bottom: 5px;
    text-align: center;
}

@media screen and (max-width: 800px) {
    form {
        position: relative;
        width: 75%;
        right: -22%;
    }
}