/* FOOTER */

.footer {
    text-align: center;
    padding: 5px;
    border: #04284b 2px solid;
    background-color: #04284b;
    color: black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: bold;
}