/* LEFT MENU */

.left-menu {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 100%;
  width: fit-content;
  position: relative;
  top: 0;
  left: 0;
  background-color: #04284b;
  border: 2px solid black;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow-x: hidden;
  padding-top: 60px;
  padding: 5px;
}

.left-menu a {
  padding: 8px;
  width: 100%;
  text-decoration: none;
  color: honeydew;
  font-size: 25px;
  display: block;
  transition: 0.4s;
}

.left-menu a:hover {
  color: #3498db;
}

@media screen and (max-width: 800px) {
  .left-menu {
    width: 32%;
  }
}
